<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script> -->

<h1>about works</h1>
<!-- <div class="container">
	<canvas id="mychart"></canvas>

	<script type="text/javascript">
		let myChart = document.getElementById('myChart').getContect('2d');

		let massPopChart = new Chart(myChart, {
			type:'bar',
			data:{
				labels:['Boston', 'Worcester', 'Springfield', 'Lowell', 'Cambridge', 'New Bedford'],	
                datasets:[{
                	label:'Population',
                	data:[
                    617594,
                    181045,
                    153060,
                    106519,
                    105162,
                    95072
                  ]
               }]
			},
				
			options:{}
		});
	</script>

</div>	
 -->
